{% extends "base.jinja" %}

{% block content %}
<div class="container">
    <h2>You have been logged out.</h2>
    <p><a href="{{ url_for('index') }}">Click here</a> to return to main page.</p>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function removeUsernameCookie() {
        Cookies.remove("username");
    }

    // Call the removeUsernameCookie function
    removeUsernameCookie();
</script>
{% endblock %}
